NODE_ENV=development

# ---- Service Ports ----
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
LINKS_SERVICE_PORT=3002
ANALYTICS_SERVICE_PORT=3003
REDIRECT_SERVICE_PORT=3004

# ---- MongoDB ----
MONGO_URI=mongodb+srv://user:password@host:port

# ---- RabbitMQ ----
RABBITMQ_URI=amqps:///user:password@host:port

# ---- JWT ----
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRATION=30m  # 30 minutes

JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRATION=30d # 30 days

